.container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 15px;
  border:1px solid rgba(37, 129, 241, 0.938);
  box-shadow: 0 8px 32px 0 rgba(0, 143, 232, 0.907);
  margin: 50px auto;
  padding: 20px;
  width: 80%;
}


.heading {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba(5, 150, 240, 0.752);
  border: 1px solid rgba(0, 103, 247, 0.938);
  margin: 40px auto;
  padding: 20px;
  width: 80%;
}


.heading h1 {
  font-size: 40px;
  font-weight: bold;
  color:  rgba(3, 45, 255, 0.941);
  text-shadow: 2px 2px 4px rgba(18, 148, 224, 0.745);
  text-align: center;
  
}


.heading p {
  font-size: 18px;
  color:#382fef81;
  text-shadow: 1px 1px 2px  rgba(96, 194, 221, 0.745);
  text-align: center;
}



.about {
  margin-top: 40px;
  color: hsl(125, 47%, 45%);
  text-shadow: 1px 1px 2px rgba(159, 167, 211, 0.822);
}


.about h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color:  rgba(3, 45, 255, 0.941);
  text-shadow: 2px 2px 4px rgba(94, 174, 220, 0.745);
}


.about p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #768976;
  
}


.about ul {
  list-style: none;
  padding-left: 0;
  color: rgb(15, 166, 241);
  font-family:sans-serif;
  
}



.about li {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(196, 232, 17);
  
    
}



.about li strong {
  font-weight: bold;
  color: rgba(86, 129, 214, 0.903);
  text-shadow: rgb(4, 194, 246); ;
}
